apiVersion: v1
kind: Service
metadata:
  annotations:
    metrics.dynatrace.com/path: "/metrics"
    metrics.dynatrace.com/port: "TO_DEFINE"
    metrics.dynatrace.com/scrape: "true"
  name: CLUSTERNAME_TOREPLACE-nodeexporter
spec:
  clusterIP: None
  ports:
    - name: node-port
      port: 9100
      targetPort: node-port
      protocol: TCP
  selector:
    component: node-exporter