apiVersion: v1
kind: Service
metadata:
  labels:
    app: ngninx-exporter
  name: nginx-prom-metrics
  annotations:
    metrics.dynatrace.com/scrape: "true"
    metrics.dynatrace.com/port: TO_DEFINE
    metrics.dynatrace.com/path: /metrics
spec:
  type: ClusterIP
  ports:
    - port: 9113
      name: prometheus
      protocol: TCP
  selector:
    app: ngninx-nginx-ingress
